
/* ===========================
   CONTATOS
=========================== */
.body_contatos {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_contatos {
    flex: 1;
}

.tituloContatos {
    font-size: 250%;
    text-align: center;
    color: #1f1f1f;
    margin-bottom: 10px;
}


.texto_contatos {
    text-align: center;       
    padding: 0 5%;            
    margin: 0 auto;           
    line-height: 1.2;        
    padding-bottom: 20px;  
    font-size: 110%;   
}

p.texto-contatos {
    text-align: center !important;
}


/* Formulário contato */
#formContato {
    width: 80%;
    max-width: 600px;
    margin: 40px auto; /* centraliza horizontalmente */
    padding: 30px 35px;
    background: #fafafa;
    border-radius: 14px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 18px;
}


fieldset {
    width: 75%;
    padding-left: 5%;
    margin-bottom: 2%;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    width: 85%;
    padding: 10px 25px;
    margin: 0 0 20px;
}

.chk {
    margin: 20px 0;
}

/* Botão Enviar */
#enviar {
    width: 40%;
    padding: 15px 0;
    margin: 20px auto;        
    background: rgba(71, 33, 114, 0.733);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
    display: block;           
}

.enviar:hover {
    background: rgba(71, 33, 114, 0.85);
    transform: scale(1.05);
    transition: 0.3s ease;   /* Suaviza a animação */
}


/* Retorno do Formulário */
.formRetorno {
    display: none;
    margin-bottom: 15px;
}

.formRetorno p {
    font-size: 24px;
}

/* Retorno do formulário */
.divRetorno {
    display: none;
    margin-bottom: 15px;
    padding: 10px;
    background: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.divRetorno p {
    font-size: 16px;
    color: #333;
}



/* ===============================
   CONF PADRÃO DOS FORMULÁRIOS 
   =============================== */
form {
    background: #fafafa;
    padding: 20px;
    margin-right: 15%;
    border-radius: 8px;
    border: 1px solid #ddd;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-padrao,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


