/* ===========================
   PRODUTOS – CARDS
=========================== */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-bottom: 20px;
}

.card {
    background-color: #ffffff;
    width: 280px;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border: 1px solid #d6d3d3;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 16px;
}

.card h2 {
    font-size: 20px;
    color: #2d2d2d;
    font-weight: 500;
    margin: 10px 0 4px;
}

.preco {
    font-size: 20px;
    font-weight: 600;
    color: rgba(71, 33, 114, 0.733);
    margin: 8px 0;
}

.titulo_produtos {
    font-size: 250%;
    text-align: center;
    color: #1f1f1f;
    margin-bottom: 10px;
}

.text_produtos {
    padding: 20px;
    border-radius: 8px;
    max-width: 900px;
    margin: 50px auto;
    font-size: 120%;
    line-height: 1.6;
    text-align: center;
    background-color: #fafafa;
}

/* ===========================
   PRODUTO - POPUP
=========================== */
.pop img {
    width: 700;
    height: 500;
    border-radius: 10px;
}

.pop h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
}

.pop p {
    padding: 2% 0 9% 7%;
    margin: 0;
    white-space: pre-line;
    width: 80%;
    font-size: 120%;
}

#nome-produto,
#descricao-produto {
    text-align: center;
}

#imagem-produto {
    width: 55%;
    margin-left: 20%;
}


/* Barra de pesquisa em Produtos */
.search {
    display: flex;
    align-items: center;
    border: 1px solid #545252d1;
    background-color: #f7f7f7;
    width: 400px;
    margin: 45px auto 25px;
    border-radius: 20px;
    padding: 8px 12px;
    color: #4b4b4b;
}

#searchInput {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.search label {
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}


/* ===============================
   CONF PADRÃO DOS FORMULÁRIOS 
   =============================== */
form {
    background: #fafafa;
    padding: 20px;
    margin-right: 15%;
    border-radius: 80px;
    border: 1px solid #ddd;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-padrao,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


